*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: whitesmoke;
}
.container{
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    margin:auto;
}
.game{
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
     
}
.box{
    font-weight: bold;
    font-size: 50px;
    width: 18vmin;
    height: 18vmin;
    border: none;
    background-color: #dda15e;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
}
#reset {
    margin-top: 20px;
    padding: 5px;
    background-color: #283618;
    color: #fefae0;
    border-radius: 10px;
    border: 1px solid black;
}
#msg{
    font-size: 3rem;
}
#newgame{
    background-color: #283618;
    color: #fefae0;
    border-radius: 6px;
    height: 10vmin;
    width: 20vmin;
}
.msg_box{
    height: 100vmin;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.hide{
    display: none;
}